body{
    font-family: 'Century Gothic'; 
}
.estructura{ 
    background: black;
    color:aliceblue;
    width: 350px;
    height: 400px;
    top:370px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 40px;
}
.titulo{
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
    font-size: 12px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    top: -10%;
    left: 35%;
}
.estructura video{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    
    .estructura{
        width: 380px;
        height: 400px;
    }
}
@media (max-width: 450px) {
    .estructura{
        width: 340px;
    }
}
@media (max-width: 400px) {
    .estructura{
        width: 300px;
    }
}
@media (max-width: 350px) {
    .estructura{
        width: 270px;
    }
}