*{
    margin: 0;
    padding: 0;
}
.row{
    margin-right: 20px;
    text-align: center;
}
.titulo, .texto{
    color: aliceblue;
}
.datos {
    display: flex ;
    word-wrap: break-word;
    background: #72f24b;
    color:rgb(18, 19, 20);
    width: 100%;
    height: 70px;
    left: 50%;
    margin-bottom: 10px;
    position: relative;
    transform: translate(-50%, -59%);
    box-sizing: border-box;
    border-radius: 50px 10px;
}
.autor{
    font-size: 20px;
    font-weight: bold;
    left: 17%;
    position: relative;
    transform: translate(-35%, -35%);
}
.date{
    font-size: 20px;
    font-weight: bold;

    left: 45%;
    position: relative;
    transform: translate(-70%, +25%);
}
.separador{
    width: 99%;
    border: 2px solid #faf9f2;
}
.mostrar{
    background: #264f5e;
    color:rgb(18, 19, 20);
    word-wrap: break-word;
    width: 100%;
    height: auto;
    top: auto;
    left: 50%;
    position: relative;
    transform: translate(-50%, -10%);
    box-sizing: border-box;
    border-radius: 10px;
    
}
.hr{
    border: 1px solid rgba(138,221,45,0);
    padding: 1px 1px;
}
.bloque{
    padding-bottom: 80px;
}
.estructura{ 
    background: black;
    color:aliceblue;
    width: 600px;
    height: auto;
    top: auto;
    left: 50%;
    position: relative;
    transform: translate(-50%, -10%);
    box-sizing: border-box;
    border-radius: 20px;
    padding: 80px 20px;
}


@media (max-width: 768px) {
    .estructura{
        width: 425px;
    }
    .autor{
        font-size: 15px;
    }
    .date{
        font-size: 13px;
    }
}
@media (max-width: 450px) {
    .estructura{
        width: 340px;
        left: 55%;
    }
    .autor{
        left: 20%;
    }
    .date{
        left: 35%;
    }
}
@media (max-width: 400px) {
    .estructura{
        width: 300px;
    }
    .autor{
        left: 22%;
        font-size: 14px;
    }
    .date{
        left: 33%;
        font-size: 10px;
        
    }
}
@media (max-width: 350px) {
    .estructura{
        width: 270px;
    }
    .autor{
        left: 24%;
        font-size: 13px;
    }
    .date{
        left: 30%;
    }
}