body{
    font-family: 'Century Gothic';
    
}
.estructura{ 
    background: black;
    color:aliceblue;
    width: 400px;
    height: 350px;
    top:370px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 70px 40px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    top: -10%;
    left: 35%;
}

.titulo{
    text-align: center;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.estructura label{
    margin: 0;
    padding: 0;
    display: block;
}

.estructura input{
    color: black;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 7px;
}


.boton {
    display: inline-block;
    padding: 10px 15px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #72f24b;
    border: none;
    border-radius: 40px 10px;
    box-shadow: 0 9px #999;
}
  
.boton:hover {background-color: #3e8e41}

.boton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .titulo{
        font-size: 30px;
    }
    .estructura{
        width: 380px;
        height: 400px;
    }
}
@media (max-width: 450px) {
    .estructura{
        width: 340px;
    }
}
@media (max-width: 400px) {
    .estructura{
        width: 300px;
    }
}
@media (max-width: 350px) {
    .estructura{
        width: 270px;
    }
}